[Unit]
Description=SSH persistent root user dir (authorized_keys)
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=sshd.service hassos-config.service

[Mount]
What=/mnt/overlay/root/.ssh
Where=/root/.ssh
Type=None
Options=bind

[Install]
WantedBy=hassos-bind.target
