[Unit]
Description=Inject GA DNS entries into Supervisor CoreDNS
After=hassos-supervisor.service docker.service
Wants=hassos-supervisor.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ga-dns-inject
RemainAfterExit=yes
TimeoutStartSec=360

[Install]
WantedBy=multi-user.target
